<div class="container">
  <h1 class="text-center pt-5">Tasks</h1>

  <div id="login-row" class="row justify-content-center align-items-center">
    <div id="login-column" class="col">
      <div id="login-box" class="col">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>
              <button class="btn btn-success" (click)="updateTask(task.id)">Update</button>
            </td>
            <td>
              <button class="btn btn-warning" (click)="deleteTask(task.id)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-success" (click)="addTask()">Add</button>
      </div>
    </div>
  </div>
</div>
