<div id="log-time">
  <h1 class="text-center pt-5" *ngIf="isAddTask()">Add task</h1>
  <h1 class="text-center pt-5" *ngIf="!isAddTask()">Update task</h1>

  <div id="login-row" class="row justify-content-center align-items-center">
    <div id="login-column" class="col-md-6">
      <div id="login-box" class="col-md-12">

        <form (ngSubmit)="saveTask()">

          <fieldset class="form-group">
            <label for="name" class="text-info">Name:</label><br>
            <input type="text" name="name" required="required" [(ngModel)]="task.name" id="name" class="form-control">
          </fieldset>

          <fieldset class="form-group">
            <label for="description" class="text-info">Description:</label><br>
            <input type="text" name="description" required="required" [(ngModel)]="task.description" id="description" class="form-control">
          </fieldset>

          <button type="submit" class="btn btn-success">Save</button>

        </form>
      </div>
    </div>
  </div>
</div>
