
<div class="container">
  <h1>My Hours</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Task</th>
      <th>Time [h]</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let timeRecord of timeRecords">
      <td>{{timeRecord.task}}</td>
      <td>{{timeRecord.duration}}</td>
      <td>
        <button class="btn btn-success" (click)="updateTimeRecord(timeRecord.id)">Update</button>
      </td>
      <td>
        <button class="btn btn-warning" (click)="deleteTimeRecord(timeRecord.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-success" (click)="addTimeRecord()">Add</button>
</div>
