
<div class="container">
  <h1>Log time</h1>

  <form (ngSubmit)="saveTimeRecord()">
    <fieldset class="form-group">
      Task: <input type="text" name="task" required="required" [(ngModel)]="record.task">
    </fieldset>

    <fieldset class="form-group">
      Start: <input type="text" name="startTime" required="required"
                    [ngModel]="record.startTime"
                    (ngModelChange)="record.startTime = ($event)">
    </fieldset>

    <fieldset class="form-group">
      Duration: <input type="number" name="time" required="required" [(ngModel)]="record.duration">
    </fieldset>

    <button type="submit" class="btn btn-success">Save</button>
  </form>

</div>
